@import "./reset.css";

:root {
    --app-color-primary: 255 26 247;
    --app-color-secondary: 26 255 34;
    --app-color-tertiary: 65 67 89;
    
    --app-dark-bg:        12 22 28;
    --app-light-bg:     10 40 10;

    --app-red:          219 112 147;
    --app-green:        112 219 147;
    --app-purple:       147 112 219;
    --app-orange:       219 147 112;
    --app-blue:         112 147 219;
    --app-blue-second:   96 135 215;
    --app-yellow:       219 201 112;

    --header-height: 56px;
    --footer-height: 130px;
   }

.container {
    margin-inline: 10vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Default                                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(255 255 255);
}

header, footer, body {
    background-color: rgb(var(--app-dark-bg));
}

button {
    width: 65%;
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(var(--app-color-tertiary));
    background-color: rgb(var(--app-color-secondary));
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    height: var(--header-height);
}

header h2, footer h2 {
    font-family: "Righteous", "Raleway", Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
   display: flex;
   align-items: center; 
}

li {
    margin-left: 8px;
}

header a  {
    text-decoration: none;
    color: #FFF;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero banner                                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f5 url(../media/herobanner.jpg) center center / cover no-repeat;
}

.overlay {
    margin-bottom: 30px;
    text-align: center;
}
.overlay h1{
    font-size: 50px;
    font-weight: 500;
}
.overlay p{
    font-size: 30px;
    font-weight: 500;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: var(--footer-height);
    /* background-color: rgb(var(--app-light-bg)); */
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 5px;
}

footer a {
    text-decoration: none;
}

.copy {
    font-size: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body, a, i {
    color: #fff;
    /* background-color: rgb(var(--app-dark-bg)); */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


  
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Button                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  
