@import "./reset.css";

:root {
    --app-color-primary: ;
    --app-color-secondary: ;

    --app-dark-bg:         26 29 40;
    --app-light-bg:     234 238 242;
    --app-red:          219 112 147;
    --app-green:        112 219 147;
    --app-purple:       147 112 219;
    --app-orange:       219 147 112;
    --app-blue:         112 147 219;
    --app-blue-second:   96 135 215;
    --app-yellow:       219 201 112;

    --header-height: 56px;
    --footer-height: 130px;
   }

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Default                                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(40 40 40);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    height: var(--header-height);
    background-color: rgb(var(--app-light-bg));
}

header h2, footer h2 {
    font-family: "Righteous", "Raleway", Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav, ul {
   display: flex;
   align-items: center; 
}

li {
    margin-left: 8px;
}

header a  {
    color: rgb(40 40 40);
    text-decoration: none;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: var(--footer-height);
    background-color: rgb(var(--app-light-bg));
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 5px;
}

footer a {
    text-decoration: none;
}

.copy {
    font-size: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


  
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Button                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  
