@import "./reset.css";

:root {
    --app-color-primary: 255 26 247;
    --app-color-secondary: 26 255 34;
    --app-color-tertiary: 65 67 89;
    
    --app-dark-bg:        12 22 28;
    --app-light-bg:     10 40 10;

    --app-red:          219 112 147;
    --app-green:        112 219 147;
    --app-purple:       147 112 219;
    --app-orange:       219 147 112;
    --app-blue:         112 147 219;
    --app-blue-second:   96 135 215;
    --app-yellow:       219 201 112;

    --app-twitter-icon: 29, 161, 242;
    --app-facebook-icon: 24, 119, 242;
    --app-instagram-icon: 193 53 132;

    --header-height: 56px;
    --footer-height: 130px;
   }

.container {
    margin-inline: 10vw;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Default                                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(255 255 255);
}

header, footer, body {
    background-color: rgb(var(--app-dark-bg));
}

button {
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(var(--app-color-tertiary));
    background-color: rgb(var(--app-color-secondary));
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button i {
    font-size: 1.3rem;
    color: rgb(var(--app-color-tertiary));
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    height: var(--header-height);
}

header h2, footer h2, span, h1 {
    font-family: "Righteous", "Raleway", Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
   display: flex;
   align-items: center; 
}

li {
    margin-left: 8px;
}

header a  {
    text-decoration: none;
    color: #FFF;
}

a i.fa-twitter{
    color: rgb(var(--app-twitter-icon));
}
 a i.fa-facebook-f{
    color: rgb(var(--app-facebook-icon));
}

 a i.fa-instagram {
    color: rgb(var(--app-instagram-icon));
}

/* nav menu */

.button-nav {
    display: none;
}
header .hidden {
    display: none;
}

button.button-nav {
    background-color: rgb(var(--app-dark-bg));
}

button.header-close-nav {
    color: rgb(var(--app-color-primary));
}

button.header-open-nav {
    color: rgb(255 255 255);
}

@media screen and (max-width: 770px) {
    
    .button-nav {display: block;}

    nav.visible {display: flex;}

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--header-height);
        right: 2rem;
        z-index: 3333;
        background-color: rgb(var(--app-dark-bg));
        border-bottom-left-radius: 5px;
        padding: 0 20px;
    }

    ul {flex-direction: column;}

    li {margin: 1rem auto;}    
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero banner                                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    position:relative;
}
  
.hero-banner::before{
    content: "";
    background: #f3f3f5 url(../media/hero.jpg) center bottom / cover no-repeat;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -3;
}
  
  
.hero-banner h1{
    font-size:49px;
}

/*.hero-banner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f5 url(../media/hero.jpg) center bottom / cover no-repeat;
    opacity: 0.6;
}*/

.overlay {
    padding-left: 30px;
    text-align: justify;
}
.overlay h1 {
    font-size: 50px;
    font-weight: 500;
}
.overlay p {
    font-size: 24px;
}

.overlay p+p {
    font-size: 20px;
    font-weight: 700;
}

.overlay button {
    margin-top: 15px;
    padding: 8px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: var(--footer-height);
    /* background-color: rgb(var(--app-light-bg)); */
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 5px;
}

footer a {
    text-decoration: none;
}

.copy {
    font-size: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body, a, i {
    color: #fff;
    /* background-color: rgb(var(--app-dark-bg)); */
    
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
form {
    padding: 25px;
    margin: 10px 0;
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 8px;
    text-align: center;

}

form {
    max-width: (100% - 100px, 1080px);
    height: calc(100vh - var(--header-height) - var(--footer-height) - 50px);
    margin-inline: auto;
    text-align: right;
    font-size: 0;
}

input:not([type="button"]) {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid rgb(255 255 255 / 0.08);
    background-color: rgb(255 255 255 / 0.08);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    transition: border-color 0.25s ease-in-out;
}

form .formInput + .formInput {
    margin-top: 20px;
}

.formInput {
    position: relative;
}

input:not([type="button"]):focus {
    border: 1px solid rgb(255 255 255 / 0.2);
}

input[type="text"].message{
    min-height: 100px;
}
input[type="button"] {
    width: 100%;
    height: 46px;
    text-align: center;
    background-color: rgb(var(--app-dark-bg));
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(var(--app-color-primary));
}

.required {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255 / 0.9);
}


  
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form Adornments                                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form .display-valid {
    z-index: 2222;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 22px;
}

.fa-check {
    color: rgb(var(--app-green));
}

.fa-xmark {
    color: rgb(var(--app-red));
}
  
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  MEDIA QUERIES                                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*768px and down*/
@media (max-width: 670px) {
    .top-picks div {
        flex-direction: column;
    }

    .top-picks div .card {
        width: 100%;
    }

    .subscriptions div {
        flex-direction: column;
    }
}

/*480px and down*/
@media (max-width: 480px) {
    .subscriptions {
        flex-direction: column;
    }
}
