@import "./general.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  TOP PICKS, SUBSCRIPTIONS, DOWNLOAD                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.top-picks, .subscriptions {
    margin: 10% 0;
    text-align: center;
}

.top-picks div, .subscriptions div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.top-picks ul li, .subscriptions ul li {
    margin: 10px 0;
}

.section-title {
    margin-bottom: 30px;
}

.card {
    border-radius: 5px;
}

.nba { background: #F0F2F4 url("../media/nba.jpg") center center / cover no-repeat; }
.nhl { background: #F0F2F4 url("../media/nhl.jpg") center center / cover no-repeat; }
.nfl { background: #F0F2F4 url("../media/nfl.jpg") center center / cover no-repeat; }
.olympics { background: #F0F2F4 url("../media/olympics.jpg") center center / cover no-repeat; }

.arrow {
    display: none;
    font-size: 25px;
    background-color: #FFF;
}

.top-picks .card {
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.top-picks .card:hover {
    opacity: 0.3;
}

.subscriptions {
    gap: 30px;
}

.subscriptions .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgb(var(--app-color-tertiary));
}

.select-btn {
    width: 65%;
    padding: 15px;
}

.lower-cards {
    transform: translateY(30px);
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 300px;
    margin: 10% 0 3% 0;
    background-color: rgba(0,0,0,0.5);
}

.buttons {
    display: flex;
    gap: 10px;
}

.download-btn {
    padding: 10px;
}
